{% extends "shop/base.html" %}
{% load i18n %}

{% block navbar %}
   <li class="first"><a href="{{ shop_base }}/">{% trans "Home" %}</a></li>
{% endblock %}

{% block content %}

<h2>{% trans "Reset your password" %}</h2>

<p>{% trans "Zapomniałeś hasła, podaj adres email, wyślemy do Ciebie nowe." %}</p>

<form action="" method="post">{% csrf_token %}

	<label for="id_email">{% trans "Email address" %}:</label> {{ form.email }}
	{% if form.email.errors %}
		<p class="error">{{ form.email.errors }}</p>
	{% endif %}
	<p>{% trans "Be sure to enter the same e-mail address you used to register." %}</p>
    <input id="id_submit" type="submit" value="{% trans "Reset password" %}" />

</form>

{% endblock %}
