{% extends "shop/checkout/base_confirm.html" %}
{% load i18n %}
{% load satchmo_product %}
{% load satchmo_util %}

{% block payment_step %}<a href="{% url DOTPAY_satchmo_checkout-step2 %}">{% trans "Payment" %}</a>{% endblock %}

{% block payment_display %}
<h4>{% trans "Payment" %}</h4>
{% if not live %}<strong>PAYMENT TEST MODE</strong>{% endif %}
{% trans "Your payment will be processed through Sermepa." %}
{% endblock %}

{% block payment_form %}
{% if order.paid_in_full %}
<form action="{% url DOTPAY_satchmo_checkout_free-confirm %}">
    <input type="submit" value="{% trans "Purchase Items" %}" />
</form>
{% else %}
<form action="{{ post_url }}" method="post">{% csrf_token %}
<input type="hidden" name="id" value="{{DOTPAY_DOTID}}" />
{% if order.partially_paid %}
	<input type="hidden" name="description" value="{% blocktrans with order.id as order_id %}Remaining Balance for order #{{ order_id }}{% endblocktrans %}" />
{% else %}
	<input type="hidden" name="description" value="{% blocktrans with order.id as order_id %}Order #{{ order_id }}{% endblocktrans %}" />
{% endif %}
<input type="hidden" name="control"/>
<input type="hidden" name="amount" value="{{amount}}" />
<input type="hidden" name="URL" value="{{url_ok}}" />
<input type="hidden" name="URLC" value="{{url_callback}}" />
<input type="hidden" name="email" value="{{contact.email}}" />
<input type="hidden" name="firstname" value="{{contact.first_name}}" />
<input type="hidden" name="lastname" value="{{contact.last_name}}" />
<input type="hidden" name="street" value="{{order.bill_street1}}" />
<input type="hidden" name="city" value="{{order.bill_city}}" />
<input type="hidden" name="postcode" value="{{order.bill_postal_code}}" />
<!-- <input type="hidden" name="continue" value="{{url_ko}}" /> -->
<input type="hidden" name="transactionType" value="3" />	{# Autorizacion #}
<input type="hidden" name="Ds_Merchant_Order" value="{{xchg_order_id}}" />

<input class="large glossy button" type="submit" value="{% trans "Purchase Items" %}" />
</form>
{% endif %}
{% endblock %}
