{% extends "base.html" %}
{% block content %}
<h4 class="deco">Metody Płatności:</h4>
<div class="content_text">
Zapłaty dokonujesz przed rozpoczęciem realizacji zamówienia, za pomocą serwisu Dotpay.pl.
<br/>Serwis Dotpay.pl umożliwia dokonanie płatności za pomocą karty kredytowej lub szybkiego przelewu z wybranych polskich banków.
Towar zostanie wysłany do Ciebie dopiero po jego opłaceniu. Dokonanie płatności online poprzez serwis Dotpay.pl jest całkowicie bezpłatne, nie są pobierane od naszych klientów żadne opłaty lub prowizje z tego tytułu.
<br/>Po kliknięciu w ikonki Dotpay połączycie się Państwo z bezpieczną witryną Dotpay (w dolnej listwie przeglądarki powinna być widoczna ikonka kłódki oznaczająca bezpieczne połączenie internetowe szyfrowane 128 bitowym kluczem). 
Dotpay.pl akceptuje m.in. płatności poprzez mTransfer (BRE Bank mBank), usługę Płacę z Inteligo (bank PKO BP), MultiTransfer (BRE Bank MultiBank), Przelew24 (Bank Zachodni WBK), ING Online (ING Bank), BPH, Deutsche Bank, Nordea.
<p>
<br/><img src="{{media_url}}images/logotypy.jpg"></img>
</p>
</div>
{% endblock %}