{% extends "base.html" %}
{% block content %}
 <h4 class="deco">Regulamin Sklepu:</h4>
 <b>Warunki ogólne</b>
<br/>
    Sklep internetowy firmy "Kamel" Katarzyna Nieznalska, znajdujący się na stronie internetowej pod adresem gedanum.pl umożliwia dokonywanie zakupów za pośrednictwem Internetu.
    Ceny produktów znajdujących się w sklepie internetowym podane w złotych polskich i zawierają VAT (są cenami brutto).
<br/>
<b>Procedura składania i realizacji zamówień</b>
<br/>
    Podany przez Użytkownika adres e-mail jak i telefon może zostać wykorzystany do realizacji składanych zamówień.
    Podstawowym warunkiem realizacji dokonanych zakupów jest prawidłowe wypełnienie przez Zamawiającego formularza zamówienia, udostępnionego przez "Kamel" na stronach sklepu internetowego.
    W przypadku wystąpienia okoliczności uniemożliwiających całkowicie lub czasowo realizację złożonego zamówienia "Kamel" zastrzega sobie prawo do wstrzymania realizacji zamówienia - o zaistniałej sytuacji zobowiązuje się niezwłocznie powiadomić Zamawiającego.
    Nieprawidłowo wypełnione formularze zamówienia nie będą rozpatrywane.
    Zakupione produkty są dostarczane pod adres wskazany w formularzu zamówień.
    Klient posiada prawo wyboru sposobu dostawy, zgodnie z formularzem zamówienia.
    Koszty przesyłki są pokrywane przez nabywcę. W określonych przypadkach, o ile dopuszcza je "Kamel" , opłata za dostawę zamówionych towarów może być przerzucona na "Jowiat" Jolanta Steblik
<br/>
<b>Gwarancje i reklamacje</b>
<br/>
    Towary oferowane w sklepie internetowym kartkizaproszenia.pl są objęte gwarancją producenta i dostarczane z odpowiednimi kartami gwarancyjnymi.
    W przypadku reklamacji należy kontaktować się z "Kamel" lub z odpowiednim serwisem, o ile jego adres został‚ podany na karcie gwarancyjnej. Podstawą wszczęcia procedury reklamacyjnej jest karta gwarancyjna, którą Klient otrzymuje wraz z zamówionym produktem.
    Klient ma prawo do odstąpienia od umowy bez podania przyczyn w ciągu 10 dni od złożenia zamówienia.
<br/>
<b>Postanowienia końcowe</b>
<br/>
    Zamawiający dokonujący zakupu w Sklepie gedanum.pl, wyraża zgodę na przetwarzanie jego danych osobowych przez operatora platformy sklepowej, wyłącznie w celu wysyłania do niego zapytań dotyczących badania poziomu satysfakcji z zakupów w tym sklepie.
    W sprawach nieuregulowanych niniejszym regulaminem obowiązują przepisy kodeksu cywilnego oraz ustawy o ochronie niektórych praw konsumentów oraz odpowiedzialności za szkodę wyrządzoną przez produkt niebezpieczny z dnia 31 marca 2000 r. Dz.U. nr 22 poz.271).
 
{% endblock %}