{% extends "base.html" %}
{% block content %}
 <h4 class="deco">Regulamin Sklepu:</h4>
 <b>Warunki ogólne</b>
<br/>
<div class="content_text">
	Sklep internetowy znajdujący się na stronie internetowej pod adresem gedanum.pl umożliwia dokonywanie zakupów za pośrednictwem Internetu. Właścicielem sklepu jest :
	<br/>Firma Handlowo-Usługowa
	"Kamel" Katarzyna Nieznalska<br/>
	80-747 Gdańsk, ul. Toruńska 20<br/>
	tel/fax. (0-58) 763-44-85/86<br/>
	NIP: 891-122-47-31
	<br/>
    Ceny produktów znajdujących się w sklepie internetowym podane w złotych polskich i zawierają VAT (są cenami brutto).
<br/>
<b>Procedura składania i realizacji zamówień</b>
<br/>
Podany przez Użytkownika adres e-mail jak i telefon może zostać wykorzystany do realizacji składanych zamówień.
Podstawowym warunkiem realizacji dokonanych zakupów jest prawidłowe wypełnienie przez Zamawiającego formularza zamówienia, udostępnionego przez "Kamel" na stronach sklepu internetowego.
W przypadku wystąpienia okoliczności uniemożliwiających całkowicie lub czasowo realizację złożonego zamówienia "Kamel" zastrzega sobie prawo do wstrzymania realizacji zamówienia - o zaistniałej sytuacji zobowiązuje się niezwłocznie powiadomić Zamawiającego.
Nieprawidłowo wypełnione formularze zamówienia nie będą rozpatrywane.
Zakupione produkty są dostarczane pod adres wskazany w formularzu zamówień.
Dostawa towaru odbywa się za pośrednictwem firmy kurierskiej "K-EX".
Koszty przesyłki są pokrywane przez nabywcę. W przypadku zamówienia na kwotę 500.00 zł wzwyż, koszty przesłyki pokrywa "Kamel".
<br/>
<b>Gwarancje i reklamacje</b>
<br/>
W przypadku reklamacji należy kontaktować się z "Kamel". Towar uszkodzony jest wymieniany bezpłatnie na nowy.
Klient ma prawo do odstąpienia od umowy bez podania przyczyn w ciągu 10 dni od złożenia zamówienia. Zgodnie z Ustawą o ochronie niektórych praw konsumentów Kupujący w ciągu 14 dni otrzymuje zwrot pełnej kwoty zamówienia (cena towaru + koszt wysyłki do klienta, koszty przesyłki zwrotnej ponosi kupujący).
<br/>
<b>Postanowienia końcowe</b>
<br/>
Zamawiający dokonujący zakupu w Sklepie gedanum.pl, wyraża zgodę na przetwarzanie jego danych osobowych przez operatora platformy sklepowej, wyłącznie w celu wysyłania do niego zapytań dotyczących badania poziomu satysfakcji z zakupów w tym sklepie.
Dane osobowe są chronione zgodnie z Ustawą z dnia 29.08.1997 r. "O ochronie danych osobowych" (Dz.U. Nr 133 poz. 883) w sposób uniemożliwiający dostęp do nich osobom trzecim.
<p>W sprawach nieuregulowanych niniejszym regulaminem obowiązują przepisy kodeksu cywilnego oraz ustawy o ochronie niektórych praw konsumentów oraz odpowiedzialności za szkodę wyrządzoną przez produkt niebezpieczny z dnia 31 marca 2000 r. Dz.U. nr 22 poz.271).</p>
</div>
{% endblock %}
